<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}"/> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:text="${title}" />
    <p th:text="${cv}" />
    <n />
    <p th:text="${desc}" />
</body>
</html>
